.mybody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: rgb(153, 145, 145);
    border: none;
    border-radius: 50%;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: crimson;
    border: none;
    border-radius: 50%;
}
.box3{
    width: 100px;
    height: 100px;
    background-color: darkgoldenrod;
    border: none;
    border-radius: 50%;
}
.inst{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
